@page "/albums"
@rendermode InteractiveServer
@using RecordShop_Frontend.Model
@using RecordShop_Frontend.Services
@using RecordShop_Frontend.Components
<h3>RecordsLoader</h3>
@if (Albums == null)
{
    <p>Loading albums...</p>
}
else
{
        <AlbumSummaryList  @bind-Albums="@Albums"/>
}

@code {

    public List<AlbumDTO> Albums { get; set; } = new();
    [Inject]
    private RecordShopApiClient RecordShopApiClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Albums = await RecordShopApiClient.GetAlbums();
    }

}

