@using RecordShop_Frontend.Model
@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h2> Welcome to Melody Record Shop.</h2>

<h4> Here's one of our featured Albums</h4>
<AlbumsLoader showFeaturedAlbum=true />