@using RecordShop_Frontend.Model

<h3>Albums</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <Virtualize Items="@Albums" Context="album" ItemSize="8">                 
        <div class="col">
             <AlbumSummary Album="@album" />
        </div> 
    </Virtualize>
</div>
@code
{
    [Parameter]
    public List<AlbumDTO> Albums { get; set; }
    [Parameter]
    public EventCallback<List<AlbumDTO>> AlbumsChanged { get; set; }

    private async Task RemoveAlbumFromList(AlbumDTO albumToRemove)
    {
        Albums.Remove(albumToRemove);
         AlbumsChanged.InvokeAsync(Albums);
    }
}
