@using RecordShop_Frontend.Model
@rendermode InteractiveServer
<h3>Albums</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        @foreach (var album in AlbumList)
        {
            <div class="col">
                <AlbumSummary Album="@album" />
            </div>
        }

</div>
@code
{
    [CascadingParameter]
    public List<AlbumDTO> AlbumList { get; set; } = new();


}
