@using RecordShop_Frontend.Model
@page "/albums"
@rendermode InteractiveServer
<h3>Albums</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        @foreach (var album in albumList)
        {
            <div class="col">
                <AlbumSummary Album="@album" />
            </div>
        }

</div>
@code
{
    List<AlbumDTO> albumList = new()
            {
                new AlbumDTO()
                { Id = 1, Title = "Abbey Road", ArtistName = "The Beatles", MusicGenre = "Rock", ReleaseYear = 1969, Stock = 10 },
                new AlbumDTO
                { Id = 2, Title = "Let It Be", MusicGenre = "Rock", ReleaseYear = 1970, Stock = 40, ArtistName = "The Beatles" },
                new AlbumDTO
                { Id = 3, Title = "1989", ArtistName = "Taylor Swift", MusicGenre = "Pop", ReleaseYear = 2014, Stock = 15},
                new AlbumDTO
                { Id = 4, Title = "Thriller", ArtistName = "Michael Jackson", MusicGenre = "Pop", ReleaseYear = 1982 ,Stock = 10},
                new AlbumDTO
                { Id = 5, Title = "Fearless", ArtistName ="Taylor Swift", MusicGenre = "Country", ReleaseYear = 2008, Stock = 55 },
                new AlbumDTO
                { Id = 6, Title = "Fearless2", ArtistName ="Taylor Swift", MusicGenre = "Country", ReleaseYear = 2012, Stock = 50 }
            };
    private void OnAlbumDataChanged()
    {
        
    }

}
