<div class="sidebar bg-light p-3 shadow">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active sidebar-link fs-4" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link fs-4" href="/Albums">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link fs-4" href="/AddAlbum">Add Album</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link fs-4" href="/Search">Search 🔎</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link fs-4" href="/logout">Logout</a>
        </li>
    </ul>
</div>

